.property-events-binding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.property-events-binding-example {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}