.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title h1 {
    font-size: 2rem;
    font-weight: bold;
}


.cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 60%;
}